extends ../layout

block content
  .content
      .container-fluid
        .row
          .col-md-12
            .card
              .header
                h4.title Configuração de permissão
                p.category Configurações do sistema
                if(user._role.value > 9)
                  a(href="/role").btn.btn-default.pull-right Adicionar Permissão
              .content.table-responsive.table-full-width
                .col-sm-12
                  if !signup
                    include ../../partials/flash
                table.table.table-hover.table-striped
                  thead
                    th #
                    th Name
                    th Tipo
                    th Valor
                    th.text-center Editar
                  tbody
                    each info, index in config._roles
                      #{role}
                      tr
                        td=index+1
                        td=info.role.name
                        td=info.role.type
                        td=info.role.value
                        td.text-center
                          a(href=`/role/${info.role._id}`).btn.btn-info.btn-fill Editar
        .row
          .col-md-12
            .card
              .header
                h4.title Tabela de preços
              .content
                form(action='/dashboard/config/uploadTabelaPreco', method='POST', enctype="multipart/form-data")
                  .row
                    .col-sm-4
                      .form-group
                        label.control-label(for='fileUpdate') Arquivo de preços
                        input.form-control(type='file', name='fileUpdate', id='fileUpdate')
                    .col-sm-4
                      button.btn.btn-primary(style="margin-top: 25px") Salvar
