extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .header
              h4.title Informações do evento
            .content
              - var action = newEvent ? '/event' : '/event/'+event._id;
              form(action=action, method='POST', enctype="multipart/form-data")
                input(type='hidden', name='_csrf', value=_csrf)
                .row
                  .col-sm-12
                    if !signup
                      include ../../partials/flash
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='name') Nome
                      input.form-control(type='text', name='name', id='name', value=(event ? event.name : ''), required)
                  .col-sm-6
                    .form-group
                      label Selecione uma Imagem
                      input.form-control(type='file', name='fileUpdate', id='fileUpdate', placeholder='Selecione o arquivo')

                .row
                  .col-sm-6
                    .form-group
                      label.control-label Data Início
                      .input-group.date
                          input.form-control.datepicker(type='text', name='startDate' value=(event ? formatDate(event.startDate) : ''), required)
                          span.input-group-addon
                            span.pe-7s-clock

                  .col-sm-6
                    .form-group
                      label.control-label Data Fim
                      .input-group.date
                          input.form-control.datepicker(type='text', name='endDate' value=(event ? formatDate(event.endDate) : ''), required)
                          span.input-group-addon
                            span.pe-7s-clock

                .row
                  .col-sm-12
                    .form-group
                      label Descrição Curta
                      textArea.form-control(name='description')=(event ? event.description : '')
                .row
                  .col-sm-6
                    .form-group
                      label Link externo
                      input.form-control(type='text', name='link' value=(link ? link : ''))
                  .col-sm-6
                    .form-group
                      label Texto do link
                      input.form-control(type='text', name='linkText' value=(linkText ? linkText : ''))
                .row

                  .col-sm-3
                    .form-group
                      label.checkbox
                        span.icons
                          span.first-icon.fa.fa-square-o
                          span.second-icon.fa.fa-check-square-o
                        input(type='checkbox', name='featured', data-toggle='checkbox', checked=(event.featured ? 'checked' : undefined))
                        | Evento de Destaque
                  .col-sm-9
                    .form-group
                        button.btn.btn-info.btn-fill.pull-right(type='submit')
                          i.fa.fa-pencil
                          | Salvar
                if (!newEvent && event.url_image)
                  .row
                    .col-sm-6
                      .card
                        .header
                          h4.title Imagem de destaque
                        .content
                          .image
                            a(href=event.url_image, target='_black')
                              img(src=event.url_image)
