extends ../layout

block content
  .content
      .container-fluid
        .row
          .col-md-12
            .card
              .header
                h4.title Galeria de mídias
                p.category Conteúdo exclusivo do laboratório Precision
                if(user._role.value > 9)
                  a(href='/midia').btn.btn-default.pull-right Adicionar Arquivo
              .content
                .row
                  each file, index in gallery.files
                    if(file._role.value <= user._role.value)
                      .col-sm-4
                        .card
                          .header
                            h4.title=file.name
                            p.category=file.description
                          .content
                            .image
                              if(file.type == 'image')
                                a(href=file.url, target='_black')
                                  img(src=file.url, alt=file.name)
                              if(file.type == 'video')
                                video(controls='true')
                                  source(src=file.url, type='video/mp4')
                                  | Seu navegador não suporta o formato do video.
                              if(file.type == 'raw')
                                strong
                                  i.pe-7s-paperclip
                                span Arquivo para download
                                a.btn(href=file.url, target='_black') Fazer Download
                            if (user._role.value > 9)
                              .footer
                                .legend
                                  if (file._role.value >= 3)
                                    i.fa.fa-circle.text-info
                                    | Usuário Ouro
                                  if (file._role.value >= 5)
                                    i.fa.fa-circle.text-danger
                                    |  Usuário Prata
                                  if (file._role.value >= 6)
                                    i.fa.fa-circle.text-warning
                                    |  Usuário Bronze
                                hr
                                .stats
                                  .col-sm-6
                                    a(href=('/midia/'+file._id)).btn.btn-info
                                      i.fa.fa-edit
                                  .col-sm-6
                                    a(href=('/midia/delete/'+file._id)).btn.btn-danger
                                      i.fa.fa-trash
