extends ../layout

block content
  .content
      .container-fluid
        .row
          .col-md-12
            .card
              .header
                h4.title Informações de Midias
              .content
                - var action = newMidia ? '/midia' : '/midia/'+midia._id;
                form(action=action, method='POST', enctype="multipart/form-data")
                  
                  .row
                    .col-sm-12
                      if !signup
                        include ../../partials/flash
                  .row
                    .col-sm-4
                      .form-group
                        label.control-label(for='name') Título
                        input.form-control(type='text', name='name', id='name', value=(newMidia ? '' : midia.name), required)
                    .col-sm-4
                      .form-group
                        label.control-label(for='type') Descrição Curta
                        input.form-control(type='text', name='description', value=(newMidia ? '' : midia.description), required)

                    .col-sm-4
                      .form-group
                        label.control-label(for='role') Permissão
                        select.form-control(name='role')
                          each info, index in config._roles
                            if (!newMidia && info.role.value == midia._role.value)
                              option(value=info.role._id, selected)=info.role.name
                            else
                              option(value=info.role._id)=info.role.name

                  .row
                    .col-sm-6
                      .form-group
                        label Código video do Youtube 
                        input.form-control(type='text', name='codeYoutube', id='codeYoutube')
                    .col-sm-6
                      .form-group
                        label Ou Arquivo 
                        input.form-control(type='file', name='fileUpdate', id='fileUpdate', placeholder='Selecione o arquivo')
                  .row
                    .col-sm-6
                      .form-group
                        label Imagem de Capa (para arquivo Não Imagens) 
                        input.form-control(type='file', name='fileCapa', id='fileCapa', placeholder='Selecione o arquivo')      
                    .col-sm-6
                      .form-group(style="margin-top: 25px;")
                          button.btn.btn-info.btn-fill.pull-right(type='submit')
                            i.fa.fa-pencil
                            | Salvar
                  if (!newMidia)
                    .row
                      .col-sm-12
                        h5 Arquivo atual
                        hr
                    .row
                      .col-sm-4
                        .card
                          .header
                            h4.title=midia.name
                            p.category=midia.description
                          .content
                            .image
                              if (file.codeYoutube && file.codeYoutube != '')
                                iframe(src=('https://www.youtube.com/embed/'+file.codeYoutube), width="100%")
                              else if (midia.preview)
                                a(href=midia.url, target='_black')
                                  img(src=midia.preview, alt=midia.name)
                              else if (midia.type == 'image')
                                a(href=midia.url, target='_black')
                                  img(src=midia.url, alt=midia.name)
                              else if (midia.type == 'video')
                                video(controls='true')
                                  source(src=midia.url, type='video/mp4')
                                  | Seu navegador não suporta o formato do video.
                              else if (midia.type == 'raw')
                                strong
                                  i.pe-7s-paperclip
                                span Arquivo para download
                                a.btn(href=midia.url, target='_black') Fazer Download
