.row
  .col-sm-8
    h5 Arquivos de fotos
    hr
  .col-sm-4
    a.btn.pull-right#hidePhotos(href="#") Esconder Arquivos
    .clearfix
  #photosSection
    .col-sm-12
      .col-sm-12
        .form-group.col-sm-4
          label.control-label(for='s1') Sorriso Amplo
          if(!newOrder && order.photos.s1.url_image != '')
            img(src=order.photos.s1.url_image)
          else
            img(src="/images/modelos/sorriso-amplo.jpg")
          input.form-control(type='file', name='s1', id='s1')&attributes(disabledInputs)
        .form-group.col-sm-4
          label.control-label(for='s2') Sorriso Amplo Entreaberto
          if(!newOrder && order.photos.s2.url_image != '')
            img(src=order.photos.s2.url_image)
          else
            img(src="/images/modelos/sorriso-amplo-entreaberto.jpg")
          input.form-control(type='file', name='s2', id='s2')&attributes(disabledInputs)
        .form-group.col-sm-4
          label.control-label(for='s3') Lábios em Repouso
          if(!newOrder && order.photos.s3.url_image != '')
            img(src=order.photos.s3.url_image)
          else
            img(src="/images/modelos/labios-em-repouso.jpg")
          input.form-control(type='file', name='s3', id='s3')&attributes(disabledInputs)
      .col-sm-12
        .form-group.col-sm-6
          label.control-label(for='s4') Perfil Sorrindo (Esquerda)
          if(!newOrder && order.photos.s4.url_image != '')
            img(src=order.photos.s4.url_image)
          else
            img(src="/images/modelos/perfil-sorrindo-esquerda.jpg")
          input.form-control(type='file', name='s4', id='s4')&attributes(disabledInputs)
        .form-group.col-sm-6
          label.control-label(for='s5') Perfil Sorrindo (Direita)
          if(!newOrder && order.photos.s5.url_image != '')
            img(src=order.photos.s5.url_image)
          else
            img(src="/images/modelos/perfil-sorrindo-direita.jpg")
          input.form-control(type='file', name='s5', id='s5')&attributes(disabledInputs)
      .col-sm-12
        .form-group.col-sm-3
          label.control-label(for='s6') Afastador em Oclusão
          if(!newOrder && order.photos.s6.url_image != '')
            img(src=order.photos.s6.url_image)
          else
            img(src="/images/modelos/afastador-em-oclusao.jpg")
          input.form-control(type='file', name='s6', id='s6')&attributes(disabledInputs)
        .form-group.col-sm-3
          label.control-label(for='s7') Afastador com Boca Entreaberta
          if(!newOrder && order.photos.s7.url_image != '')
            img(src=order.photos.s7.url_image)
          else
            img(src="/images/modelos/afastador-com-boca-entreaberta.jpg")
          input.form-control(type='file', name='s7', id='s7')&attributes(disabledInputs)
        .form-group.col-sm-3
          label.control-label(for='s8') Afastador em Oclusão Meio Perfil (Direita)
          if(!newOrder && order.photos.s8.url_image != '')
            img(src=order.photos.s8.url_image)
          else
            img(src="/images/modelos/afastador-em-oclusao-meio-perfil-direita.jpg")
          input.form-control(type='file', name='s8', id='s8')&attributes(disabledInputs)
        .form-group.col-sm-3
          label.control-label(for='s9') Afastador em Oclusão Meio Perfil (Esquerda)
          if(!newOrder && order.photos.s9.url_image != '')
            img(src=order.photos.s9.url_image)
          else
            img(src="/images/modelos/afastador-em-oclusao-meio-perfil-esquerda.jpg")
          input.form-control(type='file', name='s9', id='s9')&attributes(disabledInputs)
      .col-sm-12
        .form-group.col-sm-4
          label.control-label(for='s10') Overjet
          if(!newOrder && order.photos.s10.url_image != '')
            img(src=order.photos.s10.url_image)
          else
            img(src="/images/modelos/foto-overjet.jpg")
          input.form-control(type='file', name='s10', id='s10')&attributes(disabledInputs)
        .form-group.col-sm-4
          label.control-label(for='s11') Tomada de cor
          if(!newOrder && order.photos.s11.url_image != '')
            img(src=order.photos.s11.url_image)
          else
            img(src="/images/modelos/tomada-de-cor.jpg")
          input.form-control(type='file', name='s11', id='s11')&attributes(disabledInputs)
        .form-group.col-sm-4
          label.control-label(for='s12') Tomada de cor
          if(!newOrder && order.photos.s12.url_image != '')
            img(src=order.photos.s12.url_image)
          else
            img(src="/images/modelos/tomada-de-cor.jpg")
          input.form-control(type='file', name='s12', id='s12')&attributes(disabledInputs)
      .col-sm-12
        .form-group.col-sm-4
          label.control-label(for='s13') Tomada de cor
          if(!newOrder && order.photos.s13.url_image != '')
            img(src=order.photos.s13.url_image)
          else
            img(src="/images/modelos/tomada-de-cor.jpg")
          input.form-control(type='file', name='s13', id='s13')&attributes(disabledInputs)
