extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .header
              h4.title Informações do pedido
            .content
              - var action = newOrder ? '/order' : '/order/' + order._id;
              form(action=action, method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .row
                  .col-sm-4
                    if !signup
                      include ../../partials/flash
                if(!newOrder && user._role.value > 9)
                  .row
                    .col-sm-12
                      h5 Informações do Pedido
                      hr
                  .row
                    .col-sm-6
                      .form-group
                        label.control-label Profissional
                        a(href=('/user/'+order.user._id), target="_blank").form-control=(order.user.profile.firstName + ' ' + order.user.profile.lastName + ' CRO: '+ order.user.ufCro + '-' + order.user.typeCro + '-' + order.user.cro)

                    .col-sm-6
                      .form-group
                        label.control-label(for='status') Status
                        select.form-control(name='status', id='status')
                          - var status = ['Rascunho', 'Enviado', 'Pendente', 'Em produção', 'Finalizado', 'Cancelado'];
                          each std in status
                            if (!newOrder && order.status == std)
                              option(value=std, selected)=std
                            else
                              option(value=std)=std
                .row
                  .col-sm-12
                    h5 Informações do Paciente
                    hr
                .row
                  .col-sm-4
                    .form-group
                      label.control-label(for='name') Nome
                      input.form-control(type='text', name='name', id='name', value=(newOrder ? '' : order.patient.name ))

                  .col-sm-4
                    .form-group
                      label.control-label(for='age') Idade
                      input.form-control(type='number', name='age', id='age', value=(newOrder ? '' : order.patient.age ))

                  .col-sm-4
                    .form-group
                      label.control-label(for='gender') Sexo
                      select.form-control(name='gender', id='gender')
                        - var genders = ['Masculino', 'Feminino'];
                        each gender in genders
                          if (!newOrder && order.patient.gender == gender)
                            option(value=gender, selected)=gender
                          else
                            option(value=gender)=gender

                .row
                  .col-sm-12
                    h5 Cores
                    hr
                .row
                  .col-sm-4
                    .form-group
                      label.control-label(for='domainColor') Cor dominante
                      input.form-control(type='text', name='domainColor', id='domainColor', value=(newOrder ? '' : order.domainColor ))

                  .col-sm-4
                    .form-group
                      label.control-label(for='remainingColor') Cor remanescente
                      input.form-control(type='text', name='remainingColor', id='remainingColor', value=(newOrder ? '' : order.remainingColor ))

                  .col-sm-4
                    .form-group
                      label.control-label(for='usedScale') Escala utilizada
                      input.form-control(type='text', name='usedScale', id='usedScale', value=(newOrder ? '' : order.usedScale ))

                .row
                  .col-sm-8
                    .form-group
                      h5 Informações do Pedido
                      hr
                    .form-group.col-sm-12
                      label.control-label(for='note') Observações
                      textarea.form-control(name='note', id='note', rows='10')=newOrder ? '' : order.orderInfos.note
                    .form-group.col-sm-6
                      label.control-label(for='implat') Implante
                      input.form-control(type='text', name='implat', id='implat', value=(newOrder ? '' : order.orderInfos.implat ))
                    .form-group.col-sm-6
                      label.control-label(for='model') Modelo
                      input.form-control(type='text', name='model', id='model', value=(newOrder ? '' : order.orderInfos.model ))
                    .form-group.col-sm-6
                      label.control-label(for='diameter') Diâmetro
                      input.form-control(type='text', name='diameter', id='diameter', value=(newOrder ? '' : order.orderInfos.diameter ))
                    if(!newOrder && user._role.value > 9 )
                      .form-group.col-sm-6
                        label.control-label(for='previewDate') Data Prevista
                        .input-group.date
                            input.form-control.datepicker(type='text', name='previewDate' value=(previewDate ? formatDate(order.orderInfos.previewDate) : ''), required)
                            span.input-group-addon
                              span.pe-7s-clock
                    else if (order.orderInfos.previewDate)
                      .form-group.col-sm-6
                        label.control-label(for='previewDate') Data Prevista
                        label.form-control=(newOrder ? '---' : formatDate(order.orderInfos.previewDate))
                    .form-group
                      .clearfix
                      h5 Relação de Materiais
                      hr
                    .row
                      each material, index in materials
                        - var paddingFirst = index%3 == 0 ? 'padding-left:15px' : '';
                        .col-sm-4(style=paddingFirst)
                          label.checkbox
                            span.icons
                              span.first-icon.fa.fa-square-o
                              span.second-icon.fa.fa-check-square-o
                            input(type='checkbox', name='materials', value=material._id, data-toggle='checkbox', checked=(order.materials.indexOf(material._id) > -1 ? 'checked' : undefined))
                            | #{material.name}
                    .row
                      .col-sm-12
                        .form-group
                          label.control-label(for='othersMaterials') Outros materiais
                          input.form-control(type='text', name='othersMaterials', id='othersMaterials', value=(newOrder ? '' : order.othersMaterials ))

                  .col-sm-4
                    include ../../../public/svg/model-teeth.svg
                    - var teethNumber = 0
                    #selectedTeeth.hide
                      while teethNumber < 32
                        - teethNumber++
                        input(type='checkbox', name='selectedTeeth', value=('t'+teethNumber), id=('checkbox-t'+teethNumber), checked=(order.selectedTeeth['t'+teethNumber] ? 'checked' : undefined))
                    .table-full-width
                      table.table
                        thead
                          tr
                            th(width='20')
                            th Descrição
                            th(width='50') Quantidade
                        tbody
                          tr
                            td.text-center
                              label.checkbox
                                span.icons
                                  span.first-icon.fa.fa-square-o
                                  span.second-icon.fa.fa-check-square-o
                                input(type='checkbox', name='blade', data-toggle='checkbox', value=(newOrder ? false : order.options.blade ), checked=(order.options.blade ? 'checked' : undefined))
                            td Lâmina / Faceta
                            td
                              input.form-control(type='number', name='qtdBlade', value=(newOrder ? '' : order.options.qtdBlade ))
                          tr
                            td
                              label.checkbox
                                span.icons
                                  span.first-icon.fa.fa-square-o
                                  span.second-icon.fa.fa-check-square-o
                                input(type='checkbox', name='crown', data-toggle='checkbox', value=(newOrder ? false : order.options.crown ), checked=(order.options.crown ? 'checked' : undefined))
                            td Coroa
                            td
                              input.form-control(type='number', name='qtdCrown', value=(newOrder ? '' : order.options.qtdCrown ))
                          tr
                            td
                              label.checkbox
                                span.icons
                                  span.first-icon.fa.fa-square-o
                                  span.second-icon.fa.fa-check-square-o
                                input(type='checkbox', name='inlay', data-toggle='checkbox', value=(newOrder ? false : order.options.inlay ), checked=(order.options.inlay ? 'checked' : undefined))
                            td Inlay / Onlay
                            td
                              input.form-control(type='number', name='qtdInlay', value=(newOrder ? '' : order.options.qtdInlay ))

                .row
                  .col-sm-12
                    .form-group
                        button.btn.btn-success.btn-fill.pull-right(type='submit')
                          i.fa.fa-pencil
                          | Enviar Pedido
                        input#rascunho(type="hidden", value="false" name="rascunho")
                        button.btn.btn-info.btn-fill(onClick="document.getElementById('rascunho').value = true" )
                          i.fa.fa-pencil
                          | Salvar Rascunho
