.row
  .col-sm-8
    h5 Arquivos de fotos
    hr
  .col-sm-4
    a.btn.pull-right#hidePhotos(href="#") Esconder Arquivos
    .clearfix
  #photosSection

    .col-sm-12

      .col-sm-12

      .form-group.col-sm-4
        label.control-label(for='s1') Sorriso
        if(!newOrder && order.photos.s1.url_image != '')
          img(src=order.photos.s1.url_image)
        else
          img(src="/images/modelos/sorrindo.jpg")
        input.form-control(type='file', name='s1', id='s1')&attributes(disabledInputs)

      .form-group.col-sm-4
        label.control-label(for='s2') Sorriso entre aberto
        if(!newOrder && order.photos.s2.url_image != '')
          img(src=order.photos.s2.url_image)
        else
          img(src="/images/modelos/sorrindo-aberto.jpg")
        input.form-control(type='file', name='s2', id='s2', value=(order.photos.s2 ? order.photos.s2.url_image : '' ))&attributes(disabledInputs)

      .form-group.col-sm-4
        label.control-label(for='s4') Lábios em repouso
        if(!newOrder && order.photos.s4.url_image != '')
          img(src=order.photos.s4.url_image)
        else
          img(src="/images/modelos/labios-repouso.jpg")
        input.form-control(type='file', name='s4', id='s4')&attributes(disabledInputs)

    .col-sm-12

      .form-group.col-sm-3
        label.control-label(for='s5') Perfil boca fechada (Direita)
        if(!newOrder && order.photos.s5.url_image != '')
          img(src=order.photos.s5.url_image)
        else
          img(src="/images/modelos/perfil-direita.jpg")
        input.form-control(type='file', name='s5', id='s5')&attributes(disabledInputs)

      .form-group.col-sm-3
        label.control-label(for='s6') Perfil boca fechada (Esquerda)
        if(!newOrder && order.photos.s6.url_image != '')
          img(src=order.photos.s6.url_image)
        else
          img(src="/images/modelos/perfil-esquerda.jpg")
        input.form-control(type='file', name='s6', id='s6')&attributes(disabledInputs)

      .form-group.col-sm-3
        label.control-label(for='s7') Perfil sorrindo (Direita)
        if(!newOrder && order.photos.s7.url_image != '')
          img(src=order.photos.s7.url_image)
        else
          img(src="/images/modelos/perfil-sorrindo-direita.jpg")
        input.form-control(type='file', name='s7', id='s7')&attributes(disabledInputs)

      .form-group.col-sm-3
        label.control-label(for='s8') Perfil sorrindo (Esquerda)
        if(!newOrder && order.photos.s8.url_image != '')
          img(src=order.photos.s8.url_image)
        else
          img(src="/images/modelos/perfil-sorrindo-esquerda.jpg")
        input.form-control(type='file', name='s8', id='s8')&attributes(disabledInputs)

    .col-sm-12

      .form-group.col-sm-6
        label.control-label(for='s9') Foco em boca (Direita)
        if(!newOrder && order.photos.s9.url_image != '')
          img(src=order.photos.s9.url_image)
        else
          img(src="/images/modelos/sorrindo-direita-foco.jpg")
        input.form-control(type='file', name='s9', id='s9')&attributes(disabledInputs)

      .form-group.col-sm-6
        label.control-label(for='s10') Foco em boca (Esquerda)
        if(!newOrder && order.photos.s10.url_image != '')
          img(src=order.photos.s10.url_image)
        else
          img(src="/images/modelos/sorrindo-esquerda-foco.jpg")
        input.form-control(type='file', name='s10', id='s10')&attributes(disabledInputs)

    .col-sm-12

      .form-group.col-sm-4
        label.control-label(for='s14') Afastador em oclusão
        if(!newOrder && order.photos.s14.url_image != '')
          img(src=order.photos.s14.url_image)
        else
          img(src="/images/modelos/afastador-fechado.jpg")
        input.form-control(type='file', name='s14', id='s14')&attributes(disabledInputs)

      .form-group.col-sm-4
        label.control-label(for='s15') Afastador
        if(!newOrder && order.photos.s15.url_image != '')
          img(src=order.photos.s15.url_image)
        else
          img(src="/images/modelos/afastador-aberto.jpg")
        input.form-control(type='file', name='s15', id='s15')&attributes(disabledInputs)

      .form-group.col-sm-4
        label.control-label(for='s16') Afastador com fundo preto
        if(!newOrder && order.photos.s16.url_image != '')
          img(src=order.photos.s16.url_image)
        else
          img(src="/images/modelos/afastador-fundo.jpg")
        input.form-control(type='file', name='s16', id='s16')&attributes(disabledInputs)

    .col-sm-12

      .form-group.col-sm-4
        label.control-label(for='s20') Tomada de cor em caso de preparo (Foco)
        if(!newOrder && order.photos.s20.url_image != '')
          img(src=order.photos.s20.url_image)
        else
          img(src="/images/modelos/Foto-tomada-de-cor-site.jpg")
        input.form-control(type='file', name='s20', id='s20')&attributes(disabledInputs)
