extends ../layout

block content
  .content
    .container-fluid
      .row
        .col-md-8
          .card
            .header
              h4.title Informações do usuário
            .content
              if !signup
                include ../../partials/flash
              form(action='/account/profile', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='firstName') Nome
                      input.form-control(type='text', name='firstName', id='firstName', value=user.profile.firstName)
                  .col-sm-6
                    .form-group
                      label.control-label(for='lastName') Sobrenome
                      input.form-control(type='text', name='lastName', id='lastName', value=user.profile.lastName)
                .row
                  .col-sm-6
                    label.control-label(for='gender') Gênero
                    select.form-control(name="gender")
                      - var genders = ['Selecione', 'Masculino', 'Feminino', 'Outro']
                      each gender, index in genders
                        if (user.profile.gender == gender)
                          option(value=gender, selected)=gender
                        else
                          option(value=gender)=gender
                  .col-sm-6
                    .form-group
                      label.control-label(for='profession') Profissão
                      input.form-control(type='text', name='profession', id='profession', value=user.profile.profession)
                .row
                  .col-sm-2
                    .form-group
                      label.control-label(for='ufCro') UF CRO
                      if (user._role.value > 9)
                        select.form-control(name='ufCro', id='ufCro', required)
                          - var states = ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'];
                          each state in states
                            if (messages.user && messages.user[0].ufCro == state)
                              option(value=state, selected) #{state}
                            else
                              option(value=state)=state
                      else
                        input.form-control(type='text', name='ufCro', id='ufCro', value=user.ufCro, disabled)
                  .col-sm-5
                    .form-group
                      label.control-label(for='cro') Nº CRO
                      if (user._role.value > 9)
                        input.form-control(type='text', name='cro', id='cro', value=user.cro)
                      else
                        input.form-control(value=user.cro, name='cro', disabled)
                  .col-sm-5
                    .form-group
                      label.control-label(for='office') Empresa
                      input.form-control(type='text', name='office', id='office', value=user.profile.office)

                .row
                  .col-sm-7
                    .form-group
                      label.control-label(for='email') Email
                      input.form-control(type='email', name='email', id='email', value=user.email)
                  .col-sm-5
                    .form-group
                      label.control-label(for='phone') Telefone
                      input.form-control(type='phone', name='phone', id='phone', value=user.profile.phone)
                .row
                  .col-sm-12
                    .form-group
                      label.control-label(for='status') Status
                      if (user._role.value > 9)
                        - var statusList = ['Pendente', 'Ativo', 'Desativado'];
                        select.form-control(name='status')
                          each status in statusList
                            if (status == user.status)
                              option(value=status, selected)=status
                            else
                              option(value=status)=status
                      else
                        input.form-control(value=user.status, disabled)
                .row
                  .col-sm-12
                    .form-group
                        button.btn.btn-info.btn-fill.pull-right(type='submit')
                          i.fa.fa-pencil
                          | Salvar Perfil
        .col-md-4
          .card.card-user
            .image
              img(src='/images/ilustra-laboratorio-digital.jpg', alt='...')
            .content
              .author
                img.avatar.border-gray(src='/images/faces/face-0.jpg', alt='...')
                h4.title
                  | #{user.profile.firstName} #{user.profile.lastName}
                  br
                  small #{user.profile.profession} | #{user.profile.office}
      .row
        .col-md-8
          .card
            .header
              h4.title Alterar senha
            .content
              form(action='/account/password', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='password') Nova senha
                      input.form-control(type='password', name='password', id='password', required)
                  .col-sm-6
                    .form-group
                      label.control-label(for='confirmPassword') Confirmação de senha
                      input.form-control(type='password', name='confirmPassword', id='confirmPassword', required)
                  .col-sm-12.pull-right
                    .form-group
                        button.btn.btn-info.btn-fill.pull-right(type='submit')
                          i.fa.fa-pencil
                          | Alterar senha
