#slideHome.carousel.slide(data-ride='carousel', data-interval="10000")
  // Indicators
  ol.carousel-indicators
    if (!pageInfo.customFields.imagens && !pageInfo.customFields.videosSlide)
      li.active(data-target='#slideHome', data-slide-to='0')
    else
      - var indexSlide = 0;
      if (pageInfo.customFields.videosSlide)
        if (pageInfo.customFields.videosSlide.slideVideo1)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.videosSlide.slideVideo2)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.videosSlide.slideVideo3)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.videosSlide.slideVideo4)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        
      if (pageInfo.customFields.imagens)
        if (pageInfo.customFields.imagens.slideImagem1)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.imagens.slideImagem2)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.imagens.slideImagem3)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.imagens.slideImagem4)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
  

  .carousel-caption
    h1=pageInfo.customFields.titleMesage
    p=pageInfo.customFields.mesage
    // Controls
    if (!pageInfo.customFields.imagens && !pageInfo.customFields.videosSlide)
    else
      .control-slide
        a.left(href='#slideHome', role='button', data-slide='prev')
          include ../../public/svg/arrow-left.svg
          span.sr-only Anterior
        a.right(href='#slideHome', role='button', data-slide='next')
          include ../../public/svg/arrow-right.svg
          span.sr-only Próximo

  // Wrapper for slides
  .carousel-inner(role='listbox')
    .alpha-black
    
    if (mobile)
      .item.active
        .background-image(style="background-image: url('./images/bg-slide-1.jpg')")
    else if (!pageInfo.customFields.imagens && !pageInfo.customFields.videosSlide)
      .item.active
        video(poster='./images/bg-slide-1.jpg' playsinline autoplay muted loop)
          source(src='./images/videos/BG_Home.mp4' type='video/mp4')
    else
      - var indexItem = 0;
      if (pageInfo.customFields.videosSlide)
        if (pageInfo.customFields.videosSlide.slideVideo1)
          .item(class=(indexItem == 0 ? 'active' : ''))
            video(playsinline autoplay muted loop)
              source(src=pageInfo.customFields.videosSlide.slideVideo1.url_video type='video/mp4')
          - indexItem++
        if (pageInfo.customFields.videosSlide.slideVideo2)
          .item(class=(indexItem == 0 ? 'active' : ''))
            video(playsinline autoplay muted loop)
              source(src=pageInfo.customFields.videosSlide.slideVideo2.url_video type='video/mp4')
          - indexItem++
        if (pageInfo.customFields.videosSlide.slideVideo3)
          .item(class=(indexItem == 0 ? 'active' : ''))
            video(playsinline autoplay muted loop)
              source(src=pageInfo.customFields.videosSlide.slideVideo3.url_video type='video/mp4')
          - indexItem++
        if (pageInfo.customFields.videosSlide.slideVideo4)
          .item(class=(indexItem == 0 ? 'active' : ''))
            video(playsinline autoplay muted loop)
              source(src=pageInfo.customFields.videosSlide.slideVideo4.url_video type='video/mp4')
          - indexItem++
      
      if (pageInfo.customFields.imagens)
        if (pageInfo.customFields.imagens.slideImagem1)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem1.url_image+"')")))
          - indexItem++
        if (pageInfo.customFields.imagens.slideImagem2)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem2.url_image+"')")))
          - indexItem++
        if (pageInfo.customFields.imagens.slideImagem3)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem3.url_image+"')")))
          - indexItem++
        if (pageInfo.customFields.imagens.slideImagem4)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem4.url_image+"')")))
          - indexItem++
