#slideHome.carousel.slide(data-ride='carousel', data-interval="20000")
  // Indicators
  ol.carousel-indicators
    if (!pageInfo.customFields.imagens && !pageInfo.customFields.slide1 && !pageInfo.customFields.slide2 && !pageInfo.customFields.slide3 && !pageInfo.customFields.slide4 && !pageInfo.customFields.slide5)
      li.active(data-target='#slideHome', data-slide-to='0')
    else
      - var indexSlide = 0;
      if (pageInfo.customFields.slide1 && pageInfo.customFields.slide1 != '')
        li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
        - indexSlide++
      if (pageInfo.customFields.slide2 && pageInfo.customFields.slide2 != '')
        li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
        - indexSlide++
      if (pageInfo.customFields.slide3 && pageInfo.customFields.slide3 != '')
        li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
        - indexSlide++
      if (pageInfo.customFields.slide4 && pageInfo.customFields.slide4 != '')
        li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
        - indexSlide++
      if (pageInfo.customFields.slide5 && pageInfo.customFields.slide5 != '')
        li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
        - indexSlide++
      if (pageInfo.customFields.imagens)
        if (pageInfo.customFields.imagens.slideImagem1)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.imagens.slideImagem2)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.imagens.slideImagem3)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
        if (pageInfo.customFields.imagens.slideImagem4)
          li(data-target='#slideHome', data-slide-to=indexSlide, class=(indexSlide == 0 ? 'active': '' ))
          - indexSlide++
  

  .carousel-caption
    h1=pageInfo.customFields.titleMesage
    p=pageInfo.customFields.mesage
    // Controls
    if (!pageInfo.customFields.imagens && !pageInfo.customFields.slide1 && !pageInfo.customFields.slide2 && !pageInfo.customFields.slide3 && !pageInfo.customFields.slide4 && !pageInfo.customFields.slide5)
    else
      .control-slide
        a.left(href='#slideHome', role='button', data-slide='prev')
          include ../../public/svg/arrow-left.svg
          span.sr-only Anterior
        a.right(href='#slideHome', role='button', data-slide='next')
          include ../../public/svg/arrow-right.svg
          span.sr-only Próximo

  // Wrapper for slides
  .carousel-inner(role='listbox')
    .alpha-black
    
    if (mobile)
      .item.active
        .background-image(style="background-image: url('./images/bg-slide-1.jpg')")
    else if (!pageInfo.customFields.imagens && !pageInfo.customFields.slide1 && !pageInfo.customFields.slide2 && !pageInfo.customFields.slide3 && !pageInfo.customFields.slide4 && !pageInfo.customFields.slide5)
      .item.active
        video(poster='./images/bg-slide-1.jpg' playsinline autoplay muted loop)
          source(src='./images/videos/BG_Home.mp4' type='video/mp4')
    else
      - var indexItem = 0;
      if (pageInfo.customFields.slide1 && pageInfo.customFields.slide1 != '')
        .item(class=(indexItem == 0 ? 'active' : ''))
          iframe(style="margin-left: -10%; top: 0;", width="120%", height="110%", src=('https://www.youtube.com/embed/'+pageInfo.customFields.slide1+'?autoplay=1&controls=0&showinfo=0&mute=1&Version=3&loop=1&playlist='+pageInfo.customFields.slide1))
        - indexItem++
      if (pageInfo.customFields.slide2 && pageInfo.customFields.slide2 != '')
        .item(class=(indexItem == 0 ? 'active' : ''))
          iframe(style="margin-left: -10%; top: 0;", width="120%", height="110%", src=('https://www.youtube.com/embed/'+pageInfo.customFields.slide2+'?autoplay=1&controls=0&showinfo=0&mute=1&Version=3&loop=1&playlist='+pageInfo.customFields.slide2))
        - indexItem++
      if (pageInfo.customFields.slide3 && pageInfo.customFields.slide3 != '')
        .item(class=(indexItem == 0 ? 'active' : ''))
          iframe(style="margin-left: -10%; top: 0;", width="120%", height="110%", src=('https://www.youtube.com/embed/'+pageInfo.customFields.slide3+'?autoplay=1&controls=0&showinfo=0&mute=1&Version=3&loop=1&playlist='+pageInfo.customFields.slide3))
        - indexItem++
      if (pageInfo.customFields.slide4 && pageInfo.customFields.slide4 != '')
        .item(class=(indexItem == 0 ? 'active' : ''))
          iframe(style="margin-left: -10%; top: 0;", width="120%", height="110%", src=('https://www.youtube.com/embed/'+pageInfo.customFields.slide4+'?autoplay=1&controls=0&showinfo=0&mute=1&Version=3&loop=1&playlist='+pageInfo.customFields.slide4))
        - indexItem++
      if (pageInfo.customFields.slide5 && pageInfo.customFields.slide5 != '')
        .item(class=(indexItem == 0 ? 'active' : ''))
          iframe(style="margin-left: -10%; top: 0;", width="120%", height="110%", src=('https://www.youtube.com/embed/'+pageInfo.customFields.slide5+'?autoplay=1&controls=0&showinfo=0&mute=1&Version=3&loop=1&playlist='+pageInfo.customFields.slide5))
        - indexItem++
      if (pageInfo.customFields.imagens)
        if (pageInfo.customFields.imagens.slideImagem1)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem1.url_image+"')")))
          - indexItem++
        if (pageInfo.customFields.imagens.slideImagem2)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem2.url_image+"')")))
          - indexItem++
        if (pageInfo.customFields.imagens.slideImagem3)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem3.url_image+"')")))
          - indexItem++
        if (pageInfo.customFields.imagens.slideImagem4)
          .item(class=(indexItem == 0 ? 'active' : ''))
            .background-image(style=("background-image: url('"+(pageInfo.customFields.imagens.slideImagem4.url_image+"')")))
          - indexItem++
