extends ../layout
include ../partials/menu-top

block content
  +menuTop(class="black")

  #agenda
    .container
      .row
        .col-sm-12
          h1 A
            br
            | GEN
            br
            span.f3 DA
            hr
          .conteudo
            - var meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];
            - var urlImage = destaque.url_image || './images/destaqueAgenda.jpg'
            .destaque(style="background: url("+urlImage+") center center; background-size: cover;")
              if (destaque.title)
                h4 DESTAQUE
                  hr
                p=destaque.title
                  br
                  | #{destaque.description}
                - var startDate = new Date(destaque.startDate).getDate()
                - var endDate = new Date(destaque.endDate).getDate()
                - var monthString = meses[new Date(destaque.startDate).getMonth()];
                - var yearString = new Date(destaque.startDate).getFullYear();
                if (startDate != endDate)
                  span.dataDestaque=(startDate + ' a ' + new Date(destaque.endDate).getDate())
                    br
                    span=('de ' + monthString)
                else
                  span.dataDestaque=(startDate + ' de ' + meses[new Date(destaque.startDate).getMonth()-1])

            .eventos
              .linha
                .proximo
                  span.titulo PRÓXIMOS
                    br
                    | EVENTOS
                  include ../../public/svg/arrow-right.svg
                #calendar
                  #zubuto-calendar
              .linha
                #showEvent.eventoData
                  h2=startDate
                    small=monthString
                    small=yearString
                #dates.descricao
                  h3=destaque.title
                  p=destaque.description
                  if(destaque.link != '')
                    strong
                      a(href=destaque.link)=destaque.linkText
