extends ../layout
include ../partials/menu-top

block content
  +menuTop(class="black")

  #agenda
    .container
      .row
        .col-sm-12
          h1 A
            br
            | GEN
            br
            span.f3 DA
            hr
          .conteudo
            - var meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'];
            - var urlImage = destaque.url_image || './images/destaqueAgenda.jpg'
            .destaque(style="background: url("+urlImage+") center center; background-size: cover;")
              if (destaque.name)
                h4 DESTAQUE
                  hr
                p=destaque.name
                  br
                  | #{destaque.description}
                - var startDate = new Date(destaque.startDate).getDate()
                - var endDate = new Date(destaque.endDate).getDate()
                if (startDate != endDate)
                  span.dataDestaque=(startDate + ' a ' + new Date(destaque.endDate).getDate())
                    br
                    span=('de ' + meses[new Date(destaque.startDate).getMonth()-1])
                else
                  span.dataDestaque=(startDate + ' de ' + meses[new Date(destaque.startDate).getMonth()-1])

            .eventos
              .linha
                .proximo
                  span.titulo PRÓXIMOS
                    br
                    | EVENTOS
                  include ../../public/svg/arrow-right.svg
                #calendar
                  .selecionaMes
                    .arrow-left
                      i.fa.fa-chevron-left
                    .meses
                      span(data-idMes='0') Janeiro
                      span(data-idMes='1') Fevereiro
                      span(data-idMes='2') Março
                      span(data-idMes='3') Abril
                      span(data-idMes='4') Maio
                      span(data-idMes='5') Junho
                      span(data-idMes='6') Julho
                      span(data-idMes='7') Agosto
                      span(data-idMes='8') Setembro
                      span(data-idMes='9') Outubro
                      span(data-idMes='10') Novembro
                      span(data-idMes='11') Dezembro
                    .arrow-right
                      i.fa.fa-chevron-right
              .linha
                .eventoData
                  h2 -
                    small -
                #dates.descricao
