extends ../layout
include ../partials/menu-top

block content
  +menuTop(class="black")

  #formsRegister
    .container
      #login(style=(reset ? 'display: none' : ''))
        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          if !signup
            include ../partials/flash
          .linha
            .flex
              label EMAIL
              input(type='email', name='email', id='email', autofocus, required)
          .linha
            .flex
              label SENHA
              input(type='password', name='password', id='password', required)
          .linha
            .flex
              a.openRecuperar Esqueceu a senha?
          .linha
            button.entrar(type='submit') ENTRAR
          .linha
            .flex
              a.cadastro CADASTRAR
      #forgot
        form(method='POST', action='/forgot')
          input(type='hidden', name='_csrf', value=_csrf)
          if !signup
            include ../partials/flash
          .linha
            .flex
              label EMAIL
              input(type='email', name='email', id='email', autofocus, required)
          .linha
            .flex
              a.openLogin Fazer Login
          .linha
            button.recuperar(type='submit') RECUPERAR
          .linha
            .flex
              a.cadastro CADASTRAR
      #reset(style=(reset ? 'display: flex' : ''))
        form(method='POST', action='/reset/'+reset)
          input(type='hidden', name='_csrf', value=_csrf)
          if !signup
            include ../partials/flash
          .linha
            .flex
              label NOVA SENHA
              input(type='password', name='password', id='password', required)
          .linha
            .flex
              label CONFIRMAR SENHA
              input(type='password', name='confirm', id='confirm', required)
          .linha
            button.reset(type='submit') RECUPERAR

      #divider(class=signup ? 'active': '')
        hr
      #signup(class=signup ? 'active': '')
        form(method='POST', action='/signup')
          include ../partials/flash
          input(type='hidden', name='_csrf', value=_csrf)
          .linha
            .flex
              label * NOME
              input(name="firstName", required, autofocus, value=(messages.user ? messages.user[0].profile.firstName : ''))
            .flex
              label * SOBRENOME
              input(name="lastName", required, value=(messages.user ? messages.user[0].profile.lastName : ''))
            .flex
              label TELEFONE
              input#telefone(name="phone", value=(messages.user ? messages.user[0].profile.phone : ''))
          .linha
            .flex.flex-7
              label * EMAIL
              input(type='email', name='email', id='email', required, value=(messages.user ? messages.user[0].email : ''))
            .flex.flex-2
              label * UF CRO
              select(name='ufCro', id='ufCro', required)
                - var states = ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'];
                each state, index in states
                  if (messages.user && messages.user[0].ufCro == state)
                    option(value=state, selected)=state
                  else
                    option(value=state)=state
            .flex.flex-2
              label * Categoria
              select(name='typeCro', id='typeCro', required)
                - var types = { CD: 'Cirurgião-Dentista', TPD: 'Técnico em Prótese Dentária', TSB: 'Técnico em Saúde Bucal', ASB: 'Auxiliar de Saúde Bucal', APD: 'Auxiliar de Prótese Dentária' };
                each type, index in types
                  if (messages.user && messages.user[0].typeCro == index)
                    option(value=index, selected)=type
                  else
                    option(value=index)=type

            .flex.flex-3
              label * Nº CRO
              input(type='text', name='cro', id='cro', required, value=(messages.user ? messages.user[0].cro : ''))
          .linha
            .flex.flex-5
              label SENHA
              input(type='password', name='password', id='password', required)
            .flex.flex-5
              label CONFIRME SUA SENHA
              input(type='password', name='confirmPassword', id='confirmPassword', required)
          .linha
            .flex
              label COMO CONHECEU O LABORATÓRIO
              input(type='text', name='howMeet', id='howMeet', value=(messages.user ? messages.user[0].howMeet : ''))
          .linha
            .flex.flex-5
              span * Campos obrigatórios
            .flex.flex-5
              button.cadastrar(type='submit') ENVIAR CADASTRO
