extends ../layout
include ../partials/menu-top

block content
  +menuTop(class="black")

  #produtos
    .container
      .linha
        .flex.flex-40
          h1 PRODUTOS
            br
            span.f1 & SERVIÇOS
            hr

        .flex.flex-60
          .box.boxL.height-maximo(style="background: url(./images/produtos/p1.jpg) no-repeat center center; background-size: cover;")

          .box.boxP.c-cinza-escuro.bottom-position
            h5=produtos[0].name
            .description
              p=produtos[0].descripton

      .linha
        .flex.flex-40.column
          .linha
            .box.height-maximo(style="background: url(./images/produtos/p2.jpg) no-repeat center center; background-size: cover;")
              h5=produtos[1].name
              .description
                p=produtos[1].descripton
          .linha.linhaP
            .box.height-minimo(style="background: url(./images/produtos/p3.jpg) no-repeat center 10%; background-size: cover;")
              h5.to-right=produtos[2].name
              .description
                p=produtos[2].descripton
          .linha
            .box.height-minimo.c-cinza-escuro
              h5=produtos[3].name
              .description
                p=produtos[3].descripton

        .flex.flex-60.column
          .linha
            .box.height-minimo(style="background: url(./images/produtos/p6.jpg) no-repeat center center; background-size: cover;")
              h5=produtos[4].name
              .description
                p=produtos[4].descripton
            .box.height-minimo.c-cinza-escuro
              h5=produtos[5].name
              .description
                p=produtos[5].descripton
            .box.height-minimo.c-cinza
              h5.to-right=produtos[6].name
              .description
                p=produtos[6].descripton
          .linha
            .box.boxL.height-maximo.c-cinza.bottom-position
              h5=produtos[7].name
              .description
                p=produtos[7].descripton
            .box.boxP(style="background: url(./images/produtos/p5.jpg) no-repeat center center; background-size: cover;")
              h5=produtos[8].name
              .description
                p=produtos[8].descripton
          .linha
            .box.height-minimo.portifolio
              span.bg-fundo
              a(href="./portifolio")
                h2 VEJA
                  br
                  | NOSSO
                  br
                  | PORTIFOLIO
                  br
                  | +
