extends ../../layout

block content
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .header
              h4.title Página Inicial
            .content
              form(action='/page/home', method='POST', enctype="multipart/form-data")
                input(type='hidden', name='_csrf', value=_csrf)
                .row
                  .col-sm-12
                    if !signup
                      include ../../../partials/flash
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='titleMesage') Título Mensagem
                      input.form-control(type='text', name='titleMesage', id='titleMesage', value=pageInfo.customFields.titleMesage, required)
                  .col-sm-6
                    .form-group
                      label.control-label(for='mesage') Texto
                      textarea.form-control(rows='5', type='text', name='mesage', id='mesage' required)=pageInfo.customFields.mesage
                
                .row
                  .col-sm-12
                    h5 Slides
                    hr
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='slide1') Slide 1
                      input.form-control(type='text', name='slide1', id='slide1', value=pageInfo.customFields.slide1)
                  .col-sm-6
                    .form-group
                      label.control-label(for='slide2') Slide 2
                      input.form-control(type='text', name='slide2', id='slide2', value=pageInfo.customFields.slide2)
                
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='slide3') Slide 3 
                      input.form-control(type='text', name='slide3', id='slide3', value=pageInfo.customFields.slide3)
                  .col-sm-6
                    .form-group
                      label.control-label(for='slide4') Slide 4
                      input.form-control(type='text', name='slide4', id='slide4', value=pageInfo.customFields.slide4)
                              
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='slide5') Slide 5
                      input.form-control(type='text', name='slide5', id='slide5', value=pageInfo.customFields.slide5)
                                
                .row
                  .col-sm-12
                    h5 Configurações de SEO
                    hr
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='seoTitle') Título
                      input.form-control(type='text', name='seoTitle', id='seoTitle', value=pageInfo.seo.title)
                    .form-group
                      label.control-label(for='seoImage') Imagem de destaque
                      input.form-control(type='file', name='seoImage', id='seoImage', placeholder='Selecione o arquivo')
                  .col-sm-6
                    .form-group
                      label.control-label(for='seoDescription') Descrição Curta
                      textarea.form-control(rows='5', type='text', name='seoDescription')=pageInfo.seo.descripton


                .row
                  .col-sm-12
                    .form-group
                        button.btn.btn-info.btn-fill.pull-right(type='submit')
                          i.fa.fa-pencil
                          | Salvar

                if (pageInfo.seo)
                  .row
                    .col-sm-4
                      .card
                        .header
                          h4.title Imagem de destaque
                        .content
                          .image
                            a(href=pageInfo.seo.urlImage, target='_black')
                              img(src=pageInfo.seo.urlImage)
