extends ../../layout

block content
  .content
    .container-fluid
      .row
        .col-md-12
          .card
            .header
              h4.title O Laboratório
            .content
              form(action='/page/laboratorio', method='POST', enctype="multipart/form-data" novalidate)
                input(type='hidden', name='_csrf', value=_csrf)
                .row
                  .col-sm-12
                    if !signup
                      include ../../../partials/flash
                .row
                  .col-sm-12
                    .form-group
                      label.control-label(for='historia') História
                      textarea.tiny.form-control(name='historia', id='historia', required) #{pageInfo.customFields.historia}
                .row
                  .col-sm-12
                    .form-group
                      label.control-label(for='sobre') Quem somos
                      textarea.tiny.form-control(name='sobre', id='sobre', required) #{pageInfo.customFields.sobre}
                .row
                  .col-sm-12
                    .form-group
                      label.control-label(for='proposito') Propósito
                      textarea.tiny.form-control(name='proposito', id='proposito', required) #{pageInfo.customFields.proposito}
                .row
                  .col-sm-12
                    .form-group
                      label.control-label(for='digital') Laboratório Digital
                      textarea.tiny.form-control(name='digital', id='digital', required) #{pageInfo.customFields.digital}

                .row
                  .col-sm-12
                    h5 Configurações de SEO
                    hr
                .row
                  .col-sm-6
                    .form-group
                      label.control-label(for='seoTitle') Título
                      input.form-control(type='text', name='seoTitle', id='seoTitle', value=pageInfo.seo.title)
                    .form-group
                      label.control-label(for='seoImage') Imagem de destaque
                      input.form-control(type='file', name='seoImage', id='seoImage', placeholder='Selecione o arquivo')
                  .col-sm-6
                    .form-group
                      label.control-label(for='seoDescription') Descrição Curta
                      textarea.form-control(rows='5', type='text', name='seoDescription')=pageInfo.seo.descripton


                .row
                  .col-sm-12
                    .form-group
                        button.btn.btn-info.btn-fill.pull-right(type='submit')
                          i.fa.fa-pencil
                          | Salvar

                if (pageInfo.seo)
                  .row
                    .col-sm-4
                      .card
                        .header
                          h4.title Imagem de destaque
                        .content
                          .image
                            a(href=pageInfo.seo.urlImage, target='_black')
                              img(src=pageInfo.seo.urlImage)
